* {
    margin: 0px
}

.mainlogo {
    width: 12%;
    height: 12%;
    border-radius: 50px;
}

#inf {
    border: 1px solid rgb(221, 211, 211);
    border-right: 0;
    border-left: 0;
    font-size: 2vw;
    Text-align: center;
    background-color: rgb(225, 162, 202);
}

h2 {
    font-size: 1vw;
}

#logo {
    Text-align: center;
    padding: 20px 10px;
    background: rgb(225, 162, 202);
    background: url(background.png);
}

#animation1 {
    background-image: url('./1.jpg');
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 1.25s;
    animation: example 18s infinite;
}

@keyframes example {
    0% {
        background-image: url('./1.jpg');
        left: 0px;
        top: 0px;
    }
    25% {
        background-image: url('./2.jpg');
        left: 1280px;
        top: 0px;
    }
    50% {
        background-image: url('./3.jpg');
        left: 1280px;
        top: 260px;
    }
    75% {
        background-image: url('./4.jpg');
        left: 0px;
        top: 260px;
    }
    100% {
        background-image: url('./1.jpg');
        left: 0px;
        top: 0px;
    }
}